@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
  /* Width of the entire scrollbar */
  height: 8px;
  /* Height of the entire scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.hero-content {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 520px) {
  .hero-content {
    height: 60vh;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: scroll;
  }
}

.homeAbout {
  background-image: url("/secondsection.png");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.choosebg {
  background-image: url("/construction_one.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ourservice {
  background-image: url("/ourservice.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.Slider {
  width: 80%;
}

@media (max-width: 420px) {
  .slick-slide {
    width: 80vw !important;
    padding-left: 10px;
    padding-right: 10px;
  }

  .slick-cloned {
    display: none !important;
  }
}

.SliderSli {
  padding-left: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.review-section {
  width: 100%;
  height: 60vh;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-section {
  background-image: url("/contact-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.contact-pic {
  width: 550px;
  height: 320px;
  border-radius: 10px;
  margin: 10px;
  background: #000;
  background-image: url("/contactimage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 420px) {
  .contact-pic {
    display: none;
  }
}

.second-section-about {
  background-image: url("/aboutsecond.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.servicebg {
  background-image: url("/serviceherobg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.serviceformbg {
  background-image: url("/serviceformbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.service-page-slider {
  width: 80%;
}