.slick-list {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.slick-slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
